* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fb;
}

/* Sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 230px;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  overflow-y: auto;
  transition: all 0.2s ease;
  z-index: 10;
}

.sidebar-header {
  flex-shrink: 0;
}

.sidebar-header .logo-img {
  max-height: 50px;
}

.sidebar-header .btn {
  background-color: #f7f9fc;
  color: #5d5fef;
}

.sidebar-content {
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 1rem;
  overflow-y: auto;
}

.sidebar-content::-webkit-scrollbar {
  display: none;
}

.sidebar-menu-section-title {
  margin-left: 10px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #475466;
}

.sidebar .nav-link {
  font-size: 14px;
  color: #475466;
  font-weight: 400;
  padding: 8px 15px;
  border-radius: 8px;
}

.sidebar .nav-link i {
  text-align: center;
  color: #8e94b8;
  height: 21px;
  width: 21px;
  padding-top: 3px;
}

.sidebar .nav-link.active {
  background-color: #d8dcf2;
  color: #5a6acf;
}

.sidebar .nav-link:hover {
  background-color: #f0f4ff;
  color: #4f46e5;
}

/* COLLAPSED SIDEBAR */
body.sidebar-collapsed .sidebar {
  width: 70px;
  justify-content: center;
  align-items: center;
}

body.sidebar-collapsed .sidebar .sidebar-header img,
body.sidebar-collapsed .sidebar span,
body.sidebar-collapsed .sidebar-menu-section-title,
body.sidebar-collapsed .chevron-down {
  display: none !important;
}

body.sidebar-collapsed .sidebar .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

body.sidebar-collapsed .sidebar .nav-link {
  padding: 9px 13px;
  border-radius: 5px;
}

body.sidebar-collapsed .sidebar .nav-link i {
  font-size: 18px;
}

body.sidebar-collapsed main {
  margin-left: 70px;
}

body.sidebar-collapsed .top-navbar {
  margin-left: 70px;
}

/* Navbar */
.top-navbar {
  background-color: #fff;
  height: 65px;
  position: sticky;
  top: 0;
  z-index: 5;
  margin-left: 230px;
  transition: all 0.3s ease;
}

/* Search Bar */
.search-bar {
  background-color: #f7f9fc;
  border-radius: 12px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 330px;
}

.search-bar input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 14px;
  color: #151d48;
}

.search-bar i {
  color: #5d5fef;
  font-size: 20px;
}

/* language */

.language {
  cursor: pointer;
  font-weight: 400;
  padding: 15px 15px;
  border-radius: 8px;
}

.language:hover {
  background-color: #f0f4ff;
}

.language .language-img {
  width: 17px;
  height: 17px;
}

.language .language-name {
  font-size: 12px;
  font-weight: 600;
  color: #151d48;
}

.language i {
  font-size: 10px;
}

/* Notification */
.notification {
  background-color: #faf7f0;
  padding: 5px 10px;
  color: #ffa412;
  font-size: 14px;
  cursor: pointer;
}

.notif-dot {
  position: absolute;
  top: 5px;
  width: 4px;
  height: 4px;
  background-color: #eb5757;
  border-radius: 50%;
}

/* Profile */

.profile {
  cursor: pointer;
  padding: 5px 5px 5px 10px;
  border-radius: 8px;
}

.profile:hover {
  background-color: #f0f4ff;
}

.profile-pic {
  width: 36px;
  height: 36px;
  border-radius: 10px;
  object-fit: cover;
}

.profile .profile-name {
  font-size: 12px;
  font-weight: 600;
  color: #151d48;
}

@media (max-width: 900px) {
  .top-navbar {
    justify-content: end !important;
  }
}

/* dashboard content  */

.dashboard {
  background-color: #f8f9fb;
  margin-left: 235px;
  transition: margin-left 0.3s ease;
}

.breadcrumb {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.breadcrumb-item {
  color: #6c757d;
}

.breadcrumb-item.active {
  font-weight: 600;
  color: #1c1c1c;
}

/* Account Usage Overview heading*/
.account-overview-title {
  color: #05004e;
}

.export-btn {
  color: #05004e;
  font-size: 13px;
}

/* System metrics cards */

.card {
  width: 100%;
  height: 150px;
}

.card i {
  height: 25px;
  width: 25px;
  font-size: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card h4 {
  color: #151d48;
  font-size: 15px;
}

.card p {
  color: #425166;
  font-size: 10px;
}

.card small {
  color: #4079ed;
  font-size: 11px;
}

.card-1 {
  background-color: #ffe2e5;
}

.card-1 i {
  background-color: #fa5a7d;
  color: white;
}

.card-2 {
  background-color: #fff4de;
}

.card-2 i {
  background-color: #ff947a;
  color: white;
}

.card-3 {
  background-color: #dcfce7;
}

.card-3 i {
  background-color: #3cd856;
  color: white;
}

.card-4 {
  background-color: #f3e8ff;
}

.card-4 i {
  background-color: #bf83ff;
  color: white;
}

/* employee-report card */

.employee-report {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.employee-report-title {
  color: #05004e;
}

.employee-report-content {
  flex-wrap: wrap;
  gap: 5px;
}

.employee-report-chart-section {
  position: relative;
}

.employee-report-tooltip {
  position: absolute;
  background-color: #37375c;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  text-align: start;
  width: 90px;
  top: 95%;
  left: 80%;
  transform: translate(-50%, -100%) translateY(-20px);
}

.employee-report-tooltip p {
  font-size: 10px;
}

.employee-report-tooltip h4 {
  font-size: 12px;
}

/* feature buttons */
.feature-btn {
  background-color: #f4f5ff;
  color: #5a6acf;
  border: 1px solid #dcdff8;
  border-radius: 20px;
  padding: 7px 10px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.feature-btn:hover {
  background-color: #e8e9f5;
  border-color: #c9d2f0;
}

.feature-btn i {
  font-size: 15px;
  background-color: #f2e6ff;
  padding: 8px;
  border-radius: 50%;
  color: #5a6acf;
}

/* Employee Profile Card */

.employee-profile-card .card-title {
  color: #05004e;
}

.employee-profile-view-all-btn {
  color: #0f3659;
  font-size: 13px;
  font-weight: 500;
  border-color: #96a5b8;
  border-radius: 6px;
  padding: 6px 15px;
}

.employee-profile-table .employee-profile-header {
  border-color: #e0e0e0 !important;
  font-size: 0.7rem;
}

.employee-profile-item .employee-item-name {
  font-size: 0.7rem;
  color: #444a6d;
}

.employee-progress {
  height: 4px;
  border-radius: 100px;
  overflow: hidden;
}

.employee-sales-badge {
  border-radius: 8px;
  font-size: 0.85rem;
  padding: 4px 10px;
}

/* Quality Score Card */

.quality-score-card .card-title {
  color: #05004e;
}

.quality-circles-container {
  height: 200px;
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
}

.quality-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.quality-circle-purple {
  background-color: rgba(131, 130, 222, 0.9);
  width: 100px;
  height: 100px;
  top: 0px;
  left: 40%;
  transform: translateX(-50%);
  z-index: 4;
}

.quality-circle-orange {
  background-color: rgba(249, 166, 68, 0.9);
  width: 140px;
  height: 140px;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.quality-circle-blue {
  background-color: rgba(68, 197, 225, 0.9);
  width: 110px;
  height: 110px;
  top: 75%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* Team working image */

.illustration-card img {
  width: auto;
  max-width: 100%;
  display: block;
  object-fit: contain;
}
